.table-box {
    width: 30%;
    float: left;
    margin-right: 2%;
    margin-bottom: 1em;
}

.table-box .table th a .icon {
    margin-right: 0.6em;
}

.table-box .table.loading {
    border: 1px #2185d0 solid!important
}

.table-box .table th {
    position: relative;
}

.table-box .table th .heart {
    position: absolute;
    right: 0.6em;
    top: 50%;
    margin-top: -0.4em;
}

.modal {
    position: fixed;
    top: 1em;
    left: 15em!important;
    right: 15em!important;
    margin: auto!important;
}

.modal.hidden {
    display: none!important;
}

.modal .header {

}

.modal .header .icon.close {
    font-size: 14px;
    position: absolute;
    right: 1em;
    font-weight: normal!important;
}

.modal .content {
    padding-top: 0!important;
    max-height: 20em;
    overflow-y: auto;
}

.modal .content::-webkit-scrollbar {
    width: 4px;
}

.modal .content .cwd {
    font-size: 0.8em;
}

.modal .menu {
    margin: 0!important;
    margin-left: 0.8em!important;
}


.modal .table span.version {
    line-height: 1.8!important;
}

.modal .table td {
    -ms-word-break: break-all;
    word-break: break-all;
}

.fitted.divider {
    margin-top: 3em!important;
}

.other-apps {
    margin-top: 4em;
    opacity: 0.4;
}