.top-menu {
    margin-top: -1em!important;
    margin-bottom: 0!important;
}

table tr td span.label {
    display: block;
    font-size: 0.6em!important;
    color: grey;
    margin-left: 0.8em!important;
}