<h3>基本信息<a :href="'/proxy/update?serverId=' + server.id">修改</a></h3>

<table class="ui table selectable definition">
	<tr>
		<td class="title">代理服务名称</td>
		<td>{{server.description}}</td>
	</tr>
	<tr>
		<td class="title">是否开启TCP</td>
		<td>
			<span class="ui label tiny green" v-if="server.tcp.tcpOn">已开启</span>
			<span class="ui label tiny red" v-if="!server.tcp.tcpOn">未开启</span>
			&nbsp; <a href="" style="font-size: 12px" v-if="!server.on || !server.tcp.tcpOn" @click.prevent="startTcp()">快速启动</a><a href="" style="font-size: 12px" v-if="server.on && server.tcp.tcpOn" @click.prevent="shutdownTcp()">快速关闭</a>
		</td>
	</tr>
	<tr>
		<td>ID</td>
		<td>{{server.id}}</td>
	</tr>
	<tr>
		<td>域名<em>(name)</em></td>
		<td colspan="2">
			<a class="disabled" v-if="server.name.length == 0">[还没有绑定域名]</a>
			<span class="ui label small" v-for="name in server.name">{{name}}</span>
		</td>
	</tr>
	<tr>
		<td>绑定地址<em>(listen)</em></td>
		<td colspan="2">
			<a class="disabled" v-if="server.listen.length == 0">[还没有绑定网络地址]</a>
			<span class="ui label small" v-for="listen in server.listen">{{listen}}</span>
		</td>
	</tr>
	<tr>
		<td>读缓冲区大小</td>
		<td>
			<span v-if="server.tcp.readBufferSize <= 0">默认4K</span>
			<span v-if="server.tcp.readBufferSize > 0">{{teaweb.formatBytes(server.tcp.readBufferSize)}}</span>
		</td>
	</tr>
	<tr>
		<td>写缓冲区大小</td>
		<td>
			<span v-if="server.tcp.writeBufferSize <= 0">默认4K</span>
			<span v-if="server.tcp.writeBufferSize > 0">{{teaweb.formatBytes(server.tcp.writeBufferSize)}}</span>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="" style="font-weight: normal;" @click.prevent="showNotice()">通知设置<i class="icon angle" :class="{down:!noticeVisible, up:noticeVisible}"></i> </a>
		</td>
	</tr>
	<tbody v-show="noticeVisible">
		<tr>
			<td>后端服务器自动下线</td>
			<td>
				<notice-item-view :item="server.noticeItems.backendDown"></notice-item-view>
			</td>
		</tr>
		<tr>
			<td>后端服务器自动上线</td>
			<td>
				<notice-item-view :item="server.noticeItems.backendUp"></notice-item-view>
			</td>
		</tr>
	</tbody>
</table>