{$layout}

<!-- 检测配置更新 -->
<proxy-change-notify-box></proxy-change-notify-box>

{$var "header"}
<script src="/codemirror/lib/codemirror.js" type="text/javascript"></script>
<link rel="stylesheet" href="/codemirror/lib/codemirror.css" type="text/css"/>
<script src="/codemirror/mode/nginx/nginx.js" type="text/javascript"></script>
<link rel="stylesheet" href="/codemirror/theme/idea.css" type="text/css"/>
<script src="/codemirror/addon/selection/active-line.js" type="text/javascript"></script>
<script src="/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
{$end}

<div>
    {$template "menu"}

    <p><i class="icon info circle"></i><strong>如果</strong>你需要在TeaWeb之前加入一个代理服务，可以使用以下的配置：</p>

    <table class="ui table selectable">
        <thead>
            <tr>
                <th>nginx - <em>将下面配置加入到 nginx.conf 文件中的 http 内容中，然后重启或重载（reload） nginx服务后生效</em></th>
            </tr>
        </thead>
        <tr>
            <td>
                <div class="code nginx">server {
    # nginx address
    listen 80;
    server_name {{server.name.join(' ')}};

    # max request body size
    #client_max_body_size 128M;

    location / {
        # set request headers
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;

        # teaweb bind address
        proxy_pass http://<span v-if="server.listen.length > 0">{{server.listen[0]}}</span><span v-if="server.listen.length == 0" class="disabled">[请先绑定网络地址]</span>;
    }
}</div>
            </td>
        </tr>
    </table>
</div>