.chart-group .table-box table {
}

.chart-group .table-box thead th {
    position: relative;
}

.chart-group .table-box thead th .icon.external {
    position: absolute;
    right: 2.2em;
}

.chart-box.progress {
    margin-bottom: 1em;
    width: 90%;
    margin-left: 5%;
}

.chart-box.progress .bar {
    min-width: 0;
}

.chart-box.progress .label {
    margin-top: 0.6em;
    text-align: left;
}

.chart-box.line {
    height: 14em;
}

.chart-box.pie {
    width: 80%;
    height: 14em;
    margin:0 auto;
}

.chart-box.gauge {
    height: 14em;
}

.chart-box.table {
    max-height: 20em!important;
    overflow-y: auto;
}
.chart-box.table::-webkit-scrollbar {
    display: none;
}

.chart-box.table .table {
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
}

.chart-box.table .table td {
    -ms-word-break: break-all;
    word-break: break-all;
}

.chart-box.table .table td {
    padding:0.5em 0.5em;
}