.tab-menu {
    margin-bottom: 0 !important;
}

.menu.text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.divider {
    margin-top: 0 !important;
}

.chart-item {
    margin-bottom: 0.4em;
}