{$var "header"}
<link rel="stylesheet" href="/_/@default/proxy/locations/@menu.css" type="text/css"/>
{$end}

<div class="second-menu">
	<div class="ui text menu blue tiny">
		<a class="item" :href="'/proxy/locations?serverId=' + server.id">所有</a>
		<span class="item">|</span>
		<a class="item location-pattern" :href="'/proxy/locations/detail?serverId=' + server.id + '&locationId=' + location.id">当前路径：{{location.pattern}}</a>
		<span class="item">&raquo;</span>
		<a :href="'/proxy/locations/detail?serverId=' + server.id + '&locationId=' + location.id" class="ui item" :class="{active:selectedSubTab == 'detail'}">基本信息</a>
		<span class="item">|</span>
		<a :href="'/proxy/locations/headers?serverId=' + server.id + '&locationId=' + location.id" class="ui item" :class="{active:selectedSubTab == 'headers'}">自定义Header<span v-if="location.headers.length > 0">({{location.headers.length}})</span></a>
		<span class="item">|</span>
		<a :href="'/proxy/locations/rewrite?serverId=' + server.id + '&locationId=' + location.id" class="item" :class="{active:selectedSubTab == 'rewrite'}">重写规则<span v-if="location.rewrite.length > 0">({{location.rewrite.length}})</span></a>
		<span class="item">|</span>
		<a :href="'/proxy/locations/backends?serverId=' + server.id + '&locationId=' + location.id" class="item" :class="{active:selectedSubTab == 'backends'}">后端服务器<span v-if="location.backends.length > 0">({{location.backends.length}})</span></a>
		<span class="item">|</span>
		<a :href="'/proxy/locations/fastcgi?serverId=' + server.id + '&locationId=' + location.id" class="item" :class="{active:selectedSubTab == 'fastcgi'}">Fastcgi<span v-if="location.fastcgi.length > 0">({{location.fastcgi.length}})</span></a>
		<span class="item">|</span>
		<a :href="'/proxy/locations/websocket?serverId=' + server.id + '&locationId=' + location.id" class="item" :class="{active:selectedSubTab == 'websocket'}">Websocket<span v-if="location.websocket!=null && location.websocket.on">(已设置)</span></a>
		<span class="item">|</span>
		<a :href="'/proxy/locations/access?serverId=' + server.id + '&locationId=' + location.id" class="item" :class="{active:selectedSubTab == 'access'}" id="location-access-menu">访问控制</a>
		<span class="item">|</span>
		<a :href="'/proxy/locations/waf?serverId=' + server.id + '&locationId=' + location.id" class="item" :class="{active:selectedSubTab == 'waf'}" id="location-waf-menu">WAF<span v-if="location.wafId != null && location.wafId.length > 0">(已设置)</span></a>
		<span class="item">|</span>
		<a :href="'/proxy/locations/cache?serverId=' + server.id + '&locationId=' + location.id" class="item" :class="{active:selectedSubTab == 'cache'}" id="location-cache-menu">缓存设置<span v-if="location.cachePolicy">(已设置)</span></a>
	</div>
	<div class="ui divider"></div>
</div>