{$layout}

{$template "menu"}

<!-- 详情 -->
<h3>详情<a :href="'/agents/apps/update?agentId=' + agentId + '&appId=' + app.id + '&from=' + from" >修改</a></h3>

<table class="ui table definition selectable">
    <tr>
        <td>是否启用</td>
        <td>
            <span class="ui label tiny green" v-if="app.on">已启用</span>
            <span class="ui label tiny red" v-if="!app.on">未启用</span>
			&nbsp;
			<a href="" style="font-size:12px" @click.prevent="putOn()" v-if="!app.on">快速启用</a>
			<a href="" style="font-size:12px" @click.prevent="putOff()" v-if="app.on">快速关闭</a>
        </td>
    </tr>
    <tr>
        <td class="title">App名称</td>
        <td>
            {{app.name}}
        </td>
    </tr>
	<tr>
		<td>AppID</td>
		<td>{{app.id}}</td>
	</tr>
	<tr>
		<td>共享</td>
		<td>
			<span class="ui label tiny olive" v-if="app.isSharedWithGroup">共享</span> <span v-if="app.isSharedWithGroup">与本组下的所有Agent共享</span>
			<span v-if="!app.isSharedWithGroup" class="disabled">不共享</span>
		</td>
	</tr>
</table>