.tab-menu {
    margin-bottom: 0!important;
}

.text.menu {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.divider {
    margin-top: 0!important;
}

.divider:not(.margin) {
    margin-bottom: 0!important;
}

.table th .ops {
    position: absolute;
    right: 2em;
}

.table th a {
    font-weight: normal!important;
}

@media screen and (max-width: 512px) {
    .column:not(.one) {
        width: 100%!important;
    }
}