.log-container {

}

.log-box {
    position: fixed;
    top: 4em;
    bottom: 4em;
    -ms-word-break: break-all;
    word-break: break-all;
    line-height: 1.7;
    overflow-y: auto;
    left: 10em;
    right: 8em;
}

.log-box::-webkit-scrollbar {
    width: 4px;
}
