src/github.com/go-yaml
src/github.com/iwind
src/github.com/mongodb
src/github.com/oschwald
src/github.com/pquerna
src/github.com/robertkrimen
src/github.com/shirou
src/github.com/TeaWeb/code
src/github.com/TeaWeb/plugin
src/github.com/TeaWeb/uaparser
src/github.com/vmihailenco
src/gopkg.in
src/main/tmp/
src/main/logs/*.log
src/main/configs/*.key
src/main/configs/*.pem
src/main/configs/*.proxy.conf
src/main/configs/api.*
src/main/configs/script.*
src/main/configs/plan.*
src/main/configs/report.*
src/main/configs/grant.*
src/main/configs/apps_favor.conf
src/main/configs/admin.conf
src/main/configs/avatars
src/main/views/@default/plus
src/main/plugins/*.tea
src/main/plus
src/main/mongodb
src/tests/
bin/
dist/
drafts/
pkg/
