src/github.com/go-redis
src/github.com/go-sql-driver
src/github.com/go-yaml
src/github.com/iwind
src/github.com/mongodb
src/github.com/oschwald
src/github.com/pbnjay
src/github.com/pquerna
src/github.com/shirou
src/github.com/stretchr
src/github.com/ua-parser
src/github.com/TeaWeb/code
src/gopkg.in
src/main/tmp/
src/main/configs/*.key
src/main/configs/*.pem
src/main/configs/*.proxy.conf
plugins/demo.so
bin/
dist/
docs/
pkg/