.sub-menu {
    display: none;
}

.tab-menu {
    margin-bottom: 0!important;
}

.text.menu {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.text.menu span {
    font-size: 0.9em;
}

.divider {
    margin-top: 0!important;
}

.divider:not(.margin) {
    margin-bottom: 0!important;
}

.response-box div {
    -ms-word-break: break-all;
    word-break: break-all;
    line-height: 1.5;
}

/** codemirror **/
.CodeMirror {
    border: 1px solid #eee;
    height: auto!important;
}

.CodeMirror-vscrollbar {
    width: 6px;
    border-radius: 3px!important;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
    border-radius: 2px;
}
