@media screen and (max-width: 512px) {
    .column:not(.one) {
        width: 100%!important;
    }
}

.tab-menu {
    margin-bottom: 0!important;
}

.menu.text {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.divider {
    margin-top: 0!important;
}

/** codemirror **/
.CodeMirror {
    border: 1px solid #eee;
    max-height: 10em;
}

.CodeMirror-scroll {
    overflow-y: auto;
    overflow-x: auto;
}

.CodeMirror-vscrollbar {
    width: 4px;
}