.top-menu {
    margin-top: -1em!important;
    margin-bottom: 0!important;
}

.editor-box {

}

.buttons-box {
    margin-top: 1em;
}

/** codemirror **/
.CodeMirror {
    border: 1px solid #eee;
    height: auto!important;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
