<!-- HTTP -->
<div class="ui text menu blue small" v-if="server.tcp == null && server.forwardHTTP == null">
	<span class="item" style="padding-right:0">全局：</span>
    <a :href="$url('/proxy/detail', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'basic'}" style="padding-left:0"><i class="ui icon info circle small"></i>基本信息</a>
    <a :href="$url('/proxy/ssl', { 'serverId':server.id })" class="item green" :class="{active:selectedTab == 'https'}"><i class="ui icon expeditedssl small" :class="{green:server.ssl && server.ssl.on}"></i>HTTPS</a>
    <a :href="$url('/proxy/backend', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'backend'}"><i class="ui icon server small"></i>后端服务器({{server.backends.length}})</a>
    <a :href="$url('/proxy/locations', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'location'}"><i class="ui icon folder small"></i>路径规则({{server.locations.length}})</a>

    <a :href="$url('/proxy/headers', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'header'}"><i class="ui icon file alternate small"></i>自定义Header({{server.headers.length}})</a>
	<a :href="$url('/proxy/servers/waf', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'waf'}"><i class="ui icon filter small"></i>WAF<span v-if="server.wafId != null && server.wafId.length > 0">(已设置)</span></a>
    <a :href="$url('/proxy/cache', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'cache'}"><i class="ui icon save small"></i>缓存<span v-if="server.cachePolicy.length > 0">(已设置)</span></a>
	<a :href="$url('/proxy/tunnel', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'tunnel'}"><i class="ui icon external square alternate small" :class="{green:server.tunnelOn || (server != null && server.tunnel != null && server.tunnel.on)}"></i>HTTP隧道</a>
	<a :href="$url('/proxy/notices', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'notices'}"><i class="ui icon bell small"></i>通知设置</a>
    <a :href="$url('/proxy/frontend', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'frontend'}"><i class="ui icon paper plane small"></i>前端代理</a>
</div>

<!-- Forward HTTP -->
<div class="ui text menu blue small" v-if="server.forwardHTTP != null">
	<span class="item" style="padding-right:0">全局：</span>
	<a :href="$url('/proxy/detail', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'basic'}" style="padding-left:0"><i class="ui icon info circle small"></i>基本信息</a>
</div>

<!-- TCP -->
<div class="ui text menu small blue" v-if="server.tcp != null">
	<a :href="$url('/proxy/detail', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'basic'}" style="padding-left:0"><i class="ui icon info circle small"></i>基本信息</a>
	<a :href="$url('/proxy/ssl', { 'serverId':server.id })" class="item green" :class="{active:selectedTab == 'https'}"><i class="ui icon expeditedssl small" :class="{green:server.ssl && server.ssl.on}"></i>TLS</a>
	<a :href="$url('/proxy/backend', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'backend'}"><i class="ui icon server small"></i>后端服务器({{server.backends.length}})</a>
	<a :href="$url('/proxy/clients', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'clients'}"><i class="ui icon linkify small"></i>连接管理</a>
	<a :href="$url('/proxy/notices', { 'serverId':server.id })" class="item" :class="{active:selectedTab == 'notices'}"><i class="ui icon bell small"></i>通知设置</a>
</div>

<div class="ui divider" style="margin-top:0"></div>