{$layout}
{$template "menu"}

<p class="comment">可以在这里配置WAF（Web应用防火墙）策略，然后可以在代理中使用这些WAF策略。</p>

<p class="comment" v-if="configs.length == 0">暂时还没有可用的WAF策略，<a href="/proxy/waf/add">现在去添加 &raquo;</a></p>

<table class="ui table selectable" v-if="configs.length > 0">
	<thead>
		<tr>
			<th>名称</th>
			<th>入站规则</th>
			<th>出站规则</th>
			<th>状态</th>
			<th class="two op">操作</th>
		</tr>
	</thead>
	<tr v-for="config in configs">
		<td>{{config.name}}</td>
		<td><a :href="'/proxy/waf/rules?wafId=' + config.id + '&inbound=1'">{{config.countInboundSets}}</a></td>
		<td><a :href="'/proxy/waf/rules?wafId=' + config.id + '&inbound=0'">{{config.countOutboundSets}}</a></td>
		<td>
			<span v-if="config.on" class="green">启用</span>
			<span v-if="!config.on" class="disabled">停用</span>
		</td>
		<td>
			<a :href="'/proxy/waf/detail?wafId=' + config.id">详情</a> &nbsp; &nbsp;
			<a href="" @click.prevent="deleteWAF(config.id)">删除</a>
		</td>
	</tr>
</table>