.form-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

form {
    position: fixed;
    width: 21em;
    top: 50%;
    left: 50%;
    margin-left: -10.5em;
    margin-top: -12em;
}

form .header {
    text-align: center;
}

form .comment {
    margin-top: 0.5em;
    padding: 0.5em;
    color: gray;
}