/** 通用 **/
.clear {
    clear: both;
}

.hidden {
    display: none;
}

pre {
    white-space: pre-wrap;
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 9999;
}

a.disabled, a.disabled:hover, a.disabled:active, span.disabled {
    color: #ccc !important;
}

a.enabled, span.enabled, span.green {
    color: #21ba45;
}

span.grey, label.grey, p.grey {
    color: grey !important;
}

p.grey {
    margin-top: 0.8em;
}

span.red, pre.red {
    color: #db2828;
}

pre:not(.CodeMirror-line) {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

tbody {
    background: transparent;
}

.table.width30 {
    width: 30em !important;
}

.table.width35 {
    width: 35em !important;
}

.table.width40 {
    width: 40em !important;
}

.table th, .table td {
    font-size: 0.9em !important;
}

p.comment, div.comment {
    color: rgba(0, 0, 0, 0.3);
    padding-top: 0.4em;
}

p.comment em, div.comment em {
    font-style: italic !important;
}

.truncate {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.margin, p.margin {
    margin-top: 1em;
}

/** 操作按钮容器 **/
.op.one {
    width: 4em;
}

.op.two {
    width: 7.4em;
}

.op.three {
    width: 9em;
}

.op.four {
    width: 10em;
}

/** 主菜单 **/
.main-menu .ui.menu {
    width: 9.5em !important;
    border-radius: 0 !important;
}

@media screen and (max-width: 512px) {
    .main-menu .ui.menu {
        width: 3.6em !important;
    }

    .main-menu .ui.menu .item {
        padding-top: 2em;
        padding-bottom: 2.4em;
    }

    .main-menu .ui.menu .item span {
        display: none;
    }
}

.main-menu .ui.labeled.icon.menu .item {
    font-size: 0.9em;
}

.main-menu .ui.menu .item {

}

/** 扩展UI **/
.field.text {
    padding: .5em;
}

/** body **/
@keyframes blink {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.8;
    }
}

body .ui.menu .item .blink {
    animation: blink 1s infinite;
}

body.expanded .main-menu {
    display: none;
}

body.expanded .sub-menu {
    display: none;
}

body.expanded .main {
    left: 1em;
}

/** 布局相关 */
.top-nav {
    border-radius: 0 !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
    overflow-x: auto;
    background: #276ac6 !important;
}

.top-nav::-webkit-scrollbar {
    height: 2px;
}

.top-nav img.avatar {
    width: 1.6em !important;
    height: 1.6em !important;
    padding: 0.2em;
    background: #fff;
    border-radius: 0.9em;
    margin-right: 0.5em !important;
}

.top-nav em {
    font-style: normal;
    font-size: 0.9em;
    padding-left: 0.2em;
}

/** 顶部搜索框 **/
.top-nav .top-search-box.small {
    height: 2em;
    min-width: 2em !important;
}

.top-nav .top-search-box input {
    font-size: 0.8em !important;
    padding: 0 !important;
    width: 2.4em !important;
}

/** 顶部菜单 **/
.top-secondary-menu {
    position: fixed;
    top: 2.6em;
    left: 8.2em;
    right: 0;
    z-index: 100;
    background: white;
}

.top-secondary-menu .menu {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.top-secondary-menu .menu var {
    font-style: normal;
}

.top-secondary-menu .divider {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media screen and (max-width: 512px) {
    .top-secondary-menu {
        left: 4em;
    }
}

/** 右侧主操作区 **/
.main {
    position: absolute;
    left: 22em;
    top: 5.6em;
    padding-bottom: 5em;
    padding-right: 1em;
    right: 1em;
}

@media screen and (max-width: 512px) {
    .main {
        left: 4em;
    }
}

.main.without-menu {
    left: 9em;
}

.main.without-secondary-menu {
    top: 2.9em;
}

@media screen and (max-width: 512px) {
    .main.without-menu {
        left: 4em;
    }
}

.main table td.title {
    width: 10em;
}

.main table td.middle-title {
    width: 14em;
}

.main table td {
    vertical-align: top;
}

.main table td.color-border {
    border-left: 1px #276ac6 solid !important;
}

.main table td.vertical-top {
    vertical-align: top;
}

.main table td.vertical-middle {
    vertical-align: middle;
}

.main table td[colspan="2"] a {
    font-weight: normal;
}

.main table td em {
    font-weight: normal;
    font-style: normal;
    font-size: 0.9em;
}

.main h3 {
    font-weight: normal;
    margin-top: 0.4em !important;
}

.main h3 span {
    font-size: 0.8em;
}

.main h3 span.label {
    color: #6435c9;
}

.main h3 a {
    margin-left: 1em;
    font-size: 14px !important;
    right: 1em;
}

.main h3 a::before {
    content: "[";
}

.main h3 a::after {
    content: "]";
}

.main h4 {
    font-weight: normal;
}

.main td span.small {
    font-size: 0.8em;
}

.main .button.mini {
    font-size: 0.8em;
    padding: 0.2em;
    margin-left: 1em;
}

.main-menu {
    position: fixed;
    /**top: 1.05em;**/
    top: 2em;
    bottom: 0;
    overflow-y: auto;
    background: #276ac6 !important;
    z-index: 10;
}

.main-menu .menu {
    background: #276ac6 !important;
}

.main-menu::-webkit-scrollbar {
    width: 2px;
}

.main .tab-menu {
    margin-top: 1em !important;
}

.main .tab-menu .item {
    padding: 1em !important;
}

.main .tab-menu .item var {
    font-style: normal;
}

.main .tab-menu .item span {
    font-size: 0.8em;
    padding-left: 0.3em;
}

@media screen and (max-width: 512px) {
    .main .tab-menu {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .main .tab-menu::-webkit-scrollbar {
        height: 4px;
    }
}

.main .go-top-btn {
    position: fixed;
    right: 2.6em;
    bottom: 2em;
    font-size: 2em;
    line-height: 1.4em;
    border-radius: 1em;
    z-index: 999999;
    background: white;
}

/** 子菜单 **/
.main.without-menu .sub-menu {
    display: none;
}

.sub-menu {
    position: fixed;
    left: 8em;
    width: 12.5em;
    top: 6em;
    bottom: 2.8em;
}

.sub-menu .menus-box {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 0.4em !important;
}

.sub-menu .menus-box::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.sub-menu .menu {
    max-width: 12em !important;
    border-right: 0 !important;
}

@media screen and (max-width: 512px) {
    .sub-menu {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
    }

    .sub-menu .menus-box {
        position: relative !important;
    }

    .sub-menu .menu {
        width: 100% !important;
        max-width: 30em !important;
    }

    .sub-menu .menus-box .menu .item {
        width: 100% !important;
        max-width: 30em !important;
    }
}

.sub-menu .menu .item.active {
    font-weight: normal !important;
    outline: none !important;
}

.sub-menu .menu .item:not(.header) {
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
}

.sub-menu .menu .item:not(.header) span {
    font-size: 0.8em;
    display: block;
    margin-top: 0.6em !important;
    line-height: 1.5;
}

.sub-menu .menu .item:not(.active):hover {
    background: rgba(0, 0, 0, 0.05) !important;
    border-top: 1px white solid !important;
    border-bottom: 1px white solid !important;
    margin-top: -1px !important;
    margin-bottom: -1px !important;
}

.sub-menu .menu .item.active {
    background: rgba(0, 0, 0, 0.05) !important;
}

.sub-menu .menu .item var {
    font-style: normal;
}

.sub-menu .menu .item:not(.active) var.grey {
    color: grey;
}

.sub-menu .menu .item span:not(.green) {
    color: grey;
}

.sub-menu .menu .item span.red {
    color: #db2828 !important;
}

.sub-menu .menus-box .menu .item.header {
    padding-right: 0.2em !important;
    cursor: pointer;
}

.sub-menu .menus-box .menu .item.header span {
    font-weight: normal;
    color: grey;
    font-size: 0.8em;
}

.sub-menu .menus-box .menu a {
    display: block;
    word-break: break-all;
    line-height: 1.6 !important;
}

.sub-menu .menus-box .menu .item .menu {
    margin-top: 0 !important;
}

.sub-menu .fourth-menu {
    margin-left: 1.2em;
}

.sub-menu .fourth-menu .icon, .sub-menu .third-menu .icon {
    float: left !important;
}

/** 右侧文本子菜单 **/
.text.menu {
    overflow-x: auto;
}

.text.menu::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/** 脚部相关样式 **/
#footer {
    position: fixed;
    bottom: 0;
    text-align: left;
    color: gray;
    width: 100%;
    border-radius: 0 !important;
    z-index: 10;
    overflow-x: auto;
}

#footer::-webkit-scrollbar {
    height: 2px;
}

#footer a {
    font-size: 0.9em;
}

#footer a form {
    display: none;
}

#footer a:hover span, #footer a:active span {
    display: none;
}

#footer a:hover form, #footer a:active form {
    display: block;
}

#footer form input {
    padding: 0;
    margin: 0;
}

#footer-outer-box {
    z-index: 999999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    bottom: 2.6em;
}

#footer-outer-box .qrcode {
    width: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14em;
    margin-left: -10em;
}

#footer-outer-box .qrcode img {
    width: 100%;
}

#footer-outer-box .qrcode a {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

@media screen and (max-width: 512px) {
    #footer-outer-box .qrcode {
        margin-left: 0;
        left: 3.5em;
    }
}

/** Vue **/
[v-cloak] {
    display: none !important;
}

/** auto complete **/
.autocomplete-box .menu {
    background: #eee !important;
}

.autocomplete-box .menu::-webkit-scrollbar {
    width: 4px;
}

.autocomplete-box .menu .item {
    border-top: none !important;
}

select {
}

/** column **/
@media screen and (max-width: 512px) {
    .column:not(.one) {
        width: 100% !important;
    }
}

/** label **/
label[for] {
    cursor: pointer !important;
}

label.blue {
    color: #2185d0 !important;
}

/** Menu **/
.first-menu .menu.text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.first-menu .divider {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.second-menu .menu.text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.second-menu .menu.text em {
    font-style: normal;
}

.second-menu .divider {
    margin-top: 0 !important;
}

.menu a {
    outline: none;
}

/** var **/
span.olive, var.olive {
    color: #b5cc18 !important;
}

var.dash {
    border-bottom: 1px dashed grey;
}

/** modal **/
.modal {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
}

.modal.visible {
    display: block;
}

.modal .modal-box {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2em 0.4em 1em 0.4em;
    border-radius: 0.3em;
}

.modal .modal-box .form {
    position: absolute;
    top: 2em;
    bottom: 0.4em;
    left: 0;
    right: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.modal .modal-box .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: 1em;
    padding-top: 0.4em;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
}

.modal .modal-box.small {
    width: 40%;
    margin-left: -20%;
    height: 40%;
    margin-top: -20%;
    background: white;
}

.modal .icon.close {
    position: absolute;
    right: 1em;
    top: 1em;
}

/** Message **/
.message .gopher {
    width: 30px;
    margin-right: 10px;
}

/** checkbox **/
.checkbox label a, .checkbox label {
    font-size: 0.8em !important;
}

/** Label **/
.label {
    word-break: break-all;
}