
{$var "header"}
<!-- code editor -->
<script src="/codemirror/lib/codemirror.js" type="text/javascript"></script>
<script src="/codemirror/mode/meta.js" type="text/javascript"></script>
<script src="/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
<script src="/codemirror/addon/mode/loadmode.js" type="text/javascript"></script>
<link rel="stylesheet" href="/codemirror/lib/codemirror.css" type="text/css"/>
<link rel="stylesheet" href="/codemirror/theme/idea.css" type="text/css"/>
{$end}
