.tab-menu {
    margin-bottom: 0!important;
}

.main .menu.text {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.main .menu.text span {
    padding-left: 0!important;
    padding-right: 0!important;
}

.divider {
    margin-bottom: 0!important;
}

table .label.tiny {
    padding: 3px;
}