{$layout}

<div class="ui menu text blue small">
	<a href="/agents/groups" class="item" style="padding-right:0">分组</a>
	<a :href="'/agents/groups/detail?groupId=' + group.id" class="item">“{{group.name}}” &raquo; 详情</a>
	<a :href="'/agents/groups/noticeReceivers?groupId=' + group.id" class="item active">通知设置</a>
</div>

<div class="ui divider"></div>

<table class="ui table selectable" v-for="level in levels">
	<thead>
		<tr>
			<th>“{{level.name}}”级别通知接收人 <a :href="'/agents/groups/addNoticeReceivers?groupId=' + group.id + '&level=' + level.code" title="添加接收人">[添加]</a> </th>
		</tr>
	</thead>
	<tr>
		<td>
			<span v-for="receiver in level.receivers" class="ui label small">[{{receiver.name}}][{{receiver.mediaType.toUpperCase()}}]{{receiver.user}}&nbsp;<a href="" title="删除" @click.prevent="deleteReceiver(level.code, receiver.id)"><i class="icon remove"></i> </a> </span>
			<span v-if="level.receivers.length == 0" class="disabled">暂时还没有接收人。</span>
		</td>
	</tr>
</table>