{$layout}
{$template "menu"}

<form class="ui form" data-tea-action="$" data-tea-success="submitSuccess" style="margin-top:1em">
	<table class="ui table definition selectable">
		<tr>
			<td class="title">名称 *</td>
			<td>
				<input type="text" name="name" maxlength="100"/>
				<p class="comment">给策略起一个容易识别的名字</p>
			</td>
		</tr>
		<tr>
			<td>开启的规则分组</td>
			<td>
				<div class="groups-box">
					<div class="ui checkbox" v-for="group in groups">
						<input type="checkbox" name="groupCodes" :value="group.code" :id="'group-checkbox-' + group.code" v-model="group.isChecked"/>
						<label :for="'group-checkbox-' + group.code">{{group.name}}</label>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>是否启用</td>
			<td>
				<div class="ui checkbox">
					<input type="checkbox" name="on" value="1" checked="checked"/>
					<label></label>
				</div>
			</td>
		</tr>
	</table>

	<button class="ui button primary" type="submit">保存</button>
</form>