.tab-menu {
    margin-bottom: 0!important;
}

.text.menu {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.divider {
    margin-top: 0!important;
}

.divider:not(.margin) {
    margin-bottom: 0!important;
}

.comment {
    padding-top: 0!important;
}

.table .label.tiny {
    display: inline-block;
    padding: 4px;
    margin-top: 0.6em;
    font-size: 0.6em;
    line-height: 1.1;
}

.table td {
    -ms-word-break: break-all;
    word-break: break-all;
}

pre {
    margin: 0;
    max-height: 7em;
    overflow-y: auto;
}

pre::-webkit-scrollbar {
    width: 4px;
}