.main-box .chart {
    height: 20em;
}

.main-box .ranks {
}

.main-box .ranks .table-box {
    width: 30%;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.main-box .ranks .table-box::-webkit-scrollbar {
    display: none;
}

.main-box .ranks table td {
    -ms-word-break: break-all;
    word-break: break-all;
    position: relative;
}

.main-box .ranks table td span {
    display: inline-block;
    white-space: nowrap;
    max-width: 12.3em;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-box .ranks table td a {
}

.main-box .ranks table td .progress {
    position: absolute;
    top: 2.8em;
    margin-bottom: 0;
    left: 0.2em;
    right: 1em;
    height: 2px;
    border-radius: 1px;
}

.main-box .ranks table td .progress .bar {
    height: 2px;
    border-radius: 1px;
    min-width: 0;
}

.main-box .filter-menu {
    z-index: 10!important;
    margin-left: 1em!important;
    margin-right: 1em!important;
    position: relative;
}

.main-box .filter-menu .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.4em;
    display: block;
    line-height: 1.6em;
    z-index: 0;
}

.main-box .filter-menu .item {
    z-index: 1;
}