{$layout}

<div class="first-menu">
	<div class="ui menu text small blue">
		<a class="item active" href="/cache">策略列表</a>
		<a class="item" href="/cache/createPolicy">+添加新策略</a>
	</div>

	<div class="ui divider"></div>
</div>

{$template "menu_second"}

<h3>详情 <a :href="'/cache/updatePolicy?filename=' + policy.filename">修改</a> </h3>

<table class="ui table definition selectable">
	<tr>
		<td class="title">策略名称</td>
		<td>
			{{policy.name}}
		</td>
	</tr>
	<tr>
		<td>缓存Key</td>
		<td>
			<span v-html="formatKey()"></span>
		</td>
	</tr>
	<tr>
		<td>存储类型</td>
		<td>
			{{type.name}}
			<p class="comment">{{type.description}}</p>
		</td>
	</tr>

	<!-- 文件缓存 -->
	<tbody v-if="cacheType == 'file'">
		<tr>
			<td>缓存存放目录</td>
			<td>
				{{policy.options.dir}}
			</td>
		</tr>
		<tr>
			<td>是否自动创建目录</td>
			<td>
				<span v-if="policy.options.autoCreate">Y</span>
				<span v-if="!policy.options.autoCreate">N</span>
			</td>
		</tr>
	</tbody>

	<!-- Redis缓存 -->
	<tbody v-if="cacheType == 'redis'">
		<tr>
			<td>Redis连接协议</td>
			<td>
				{{policy.options.network}}
			</td>
		</tr>
		<tr v-if="redisNetwork == 'tcp'">
			<td>Redis服务器地址</td>
			<td>
				{{policy.options.host}}
			</td>
		</tr>
		<tr v-if="redisNetwork == 'tcp'">
			<td>Redis服务器端口</td>
			<td>
				<span v-if="policy.options.port == 0" class="disabled">没有设置</span>
				<span v-if="policy.options.port > 0">{{policy.options.port}}</span>
			</td>
		</tr>
		<tr v-if="redisNetwork == 'sock'">
			<td>Unix路径</td>
			<td>
				{{policy.options.sock}}
			</td>
		</tr>
		<tr v-if="cacheType == 'redis'">
			<td>Redis连接密码</td>
			<td>
				<span v-if="policy.options.password.length == 0" class="disabled">没有设置</span>
				<span v-if="policy.options.password.length > 0">{{policy.options.password}}</span>
			</td>
		</tr>
	</tbody>

	<!-- LevelDB -->
	<tbody v-if="cacheType == 'leveldb'">
	<tr>
		<td>数据库存放目录</td>
		<td>
			{{policy.options.dir}}
		</td>
	</tr>
	</tbody>

	<!-- 内存缓存 -->
	<tr v-show="cacheType == 'memory'">
		<td>缓存容量</td>
		<td>
			<span v-if="capacity.length > 0">{{capacity}}{{capacityUnit}}</span>
			<span v-if="capacity.length == 0" class="disabled">没有设置</span>
		</td>
	</tr>

	<!-- 其他高级设置 -->
	<tr>
		<td>缓存有效期</td>
		<td>
			<span v-if="policy.life == '0s'" class="disabled">默认</span>
			<span v-if="policy.life != '0s'">{{policy.life}}</span>
		</td>
	</tr>
	<tr>
		<td>支持的状态码</td>
		<td>
			<span v-if="policy.status == null || policy.status.length == 0" class="disabled">还没有设置</span>
			<div v-if="policy.status != null">
				<span class="ui label tiny" v-for="status in policy.status">{{status}}</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>跳过的Cache-Control值</td>
		<td>
			<span v-if="policy.skipCacheControlValues == null || policy.skipCacheControlValues.length == 0" class="disabled">没有设置</span>
			<div v-if="policy.skipCacheControlValues != null && policy.skipCacheControlValues.length > 0">
				<span class="ui label tiny" v-for="cacheControl in policy.skipCacheControlValues">{{cacheControl}}</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>跳过Set-Cookie</td>
		<td>
			<span v-if="policy.skipSetCookie">跳过</span>
			<span v-if="!policy.skipSetCookie">不跳过</span>
		</td>
	</tr>
	<tr>
		<td>支持请求no-cache刷新</td>
		<td>
			<span v-if="policy.enableRequestCachePragma">已开启</span>
			<span v-if="!policy.enableRequestCachePragma">未开启</span>
		</td>
	</tr>
	<tr>
		<td>最大内容长度</td>
		<td>
			<span v-if="policy.maxSize == '0.00m'" class="disabled">默认</span>
			<span v-if="policy.maxSize != '0.00m'">{{policy.maxSize}}</span>
		</td>
	</tr>
	<tr>
		<td>匹配条件</td>
		<td>
			<span v-if="policy.cond == null || policy.cond.length == 0" class="disabled">没有设置匹配条件。</span>
			<div v-if="policy.cond != null && policy.cond.length > 0">
				<span class="ui label tiny" v-for="cond in policy.cond">{{cond.param}} <var>{{cond.operator}}</var> {{cond.value}}</span>
			</div>
		</td>
	</tr>
</table>

<h3 style="padding-top:1em">使用此缓存策略的项目</h3>
<p class="comment" v-if="configItems.length == 0" style="padding-top:0">暂时还没有使用此缓存策略的项目。</p>
<table class="ui table selectable" v-if="configItems.length > 0">
	<tr v-for="item in configItems">
		<td v-if="item.type == 'server'">
			<a :href="item.link">{{item.server}} &raquo;</a>
		</td>
		<td v-if="item.type == 'location'">
			<a :href="item.link">{{item.server}} &raquo; {{item.location}} &raquo;</a>
		</td>
	</tr>
</table>