{$layout}

<div class="first-menu">
	<div class="ui menu text small blue">
		<a class="item active" href="/cache">策略列表</a>
		<a class="item" href="/cache/createPolicy">+添加新策略</a>
	</div>

	<div class="ui divider"></div>
</div>

{$template "menu_second"}

<h3>写入</h3>

<form class="ui form" data-tea-action="$" data-tea-success="writeSuccess" data-tea-fail="writeSuccess">
	<input type="hidden" name="filename" :value="policy.filename"/>
	<input type="hidden" name="action" value="write"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">缓存Key</td>
			<td>
				<input type="text" name="key" maxlength="100" v-model="key"/>
			</td>
		</tr>
		<tr>
			<td>缓存值</td>
			<td>
				<textarea name="value" rows="3">my value</textarea>
			</td>
		</tr>
		<tr :class="{positive:writeOk && writeResult.length > 0, error:!writeOk && writeResult.length > 0}">
			<td>返回结果</td>
			<td class="green">{{writeResult}}</td>
		</tr>
	</table>
	<button class="ui button primary" type="submit">写入</button>
</form>

<h3 style="margin-top:2em!important;">读取</h3>
<form class="ui form" data-tea-action="$" data-tea-success="readSuccess" data-tea-fail="readSuccess">
	<input type="hidden" name="filename" :value="policy.filename"/>
	<input type="hidden" name="action" value="read"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">缓存Key</td>
			<td>
				<input type="text" name="key" maxlength="100" v-model="key"/>
			</td>
		</tr>
		<tr :class="{positive:readOk && readResult.length > 0, error:!readOk && readResult.length > 0}">
			<td>返回结果</td>
			<td>{{readResult}}</td>
		</tr>
	</table>
	<button class="ui button primary" type="submit">读取</button>
</form>