{$layout}

<div class="first-menu">
	<div class="ui menu text small blue">
		<a class="item active" href="/cache">策略列表</a>
		<a class="item" href="/cache/createPolicy">+添加新策略</a>
	</div>

	<div class="ui divider"></div>
</div>

{$template "menu_second"}

<form class="ui form" data-tea-action="/cache/updatePolicy" data-tea-success="submitSuccess">
    <input type="hidden" name="filename" :value="policy.filename"/>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">策略名称</td>
            <td>
                <input type="text" name="name" v-model="policy.name" maxlength="100" placeholder="比如 文件缓存"/>
            </td>
        </tr>
        <tr>
            <td>缓存Key</td>
            <td>
                <input type="text" name="key" value="" v-model="policy.key"/>
                <p class="comment"><span v-html="formatKey()"></span> 这是每个缓存的唯一标识，更多可使用的变量可以<a href="http://teaos.cn/doc/proxy/Variables.md#%E8%AF%B7%E6%B1%82%E7%9B%B8%E5%85%B3%E5%8F%98%E9%87%8F" target="_blank">在这里查看</a>。</p>
            </td>
        </tr>
        <tr>
            <td>存储类型</td>
            <td>
                <select class="ui dropdown" name="type" v-model="cacheType" @change="changeCacheType()" style="width:10em">
                    <option v-for="type in types" :value="type.type">{{type.name}}</option>
                </select>
				<p class="comment">{{selectedType.description}}</p>
            </td>
        </tr>

        <!-- 文件缓存 -->
		<tbody v-if="cacheType == 'file'">
			<tr>
				<td>缓存存放目录</td>
				<td>
					<input type="text" name="fileDir" :value="policy.options.dir"/>
					<p class="ui comment">如果需要修改，请填写相对于TeaWeb安装目录的相对路径，或者是一个绝对路径。</p>
				</td>
			</tr>
			<tr>
				<td>是否自动创建目录</td>
				<td>
					<div class="ui checkbox">
						<input type="checkbox" name="fileAutoCreate" value="1" v-model="policy.options.autoCreate"/>
						<label></label>
					</div>
					<p class="comment">当缓存目录不存在时会试图自动创建。</p>
				</td>
			</tr>
		</tbody>

        <!-- Redis缓存 -->
		<tbody v-if="cacheType == 'redis'">
			<tr>
				<td>Redis连接协议</td>
				<td>
					<select class="ui dropdown" name="redisNetwork" style="width:8em" v-model="redisNetwork">
						<option value="tcp">TCP</option>
						<option value="sock">Unix Sock</option>
					</select>
				</td>
			</tr>
			<tr v-if="redisNetwork == 'tcp'">
				<td>Redis服务器地址</td>
				<td>
					<input type="text" name="redisHost" :value="policy.options.host"/>
				</td>
			</tr>
			<tr v-if="redisNetwork == 'tcp'">
				<td>Redis服务器端口</td>
				<td>
					<input type="text" name="redisPort" :value="policy.options.port"/>
				</td>
			</tr>
			<tr v-if="redisNetwork == 'sock'">
				<td>Unix路径</td>
				<td>
					<input type="text" name="redisSock" :value="policy.options.sock">
				</td>
			</tr>
			<tr v-if="cacheType == 'redis'">
				<td>Redis连接密码</td>
				<td>
					<input type="text" name="redisPassword" :value="policy.options.password"/>
				</td>
			</tr>
		</tbody>

		<!-- LevelDB -->
		<tbody v-if="cacheType == 'leveldb'">
		<tr>
			<td>数据库存放目录</td>
			<td>
				<input type="text" name="leveldbDir" :value="policy.options.dir" value="./cache"  maxlength="500"/>
				<p class="comment">可以相对于TeaWeb安装目录，或者是一个绝对路径。如果不存在会自动创建。</p>
			</td>
		</tr>
		</tbody>

        <tr>
            <td colspan="2">
                <a href="" @click.prevent="showAdvanced()" style="font-weight: normal;">更多选项 <i class="icon angle" :class="{down:!advancedVisible,up:advancedVisible}"></i> </a>
                <input type="hidden" name="isAdvanced" value="1" v-if="advancedVisible"/>
            </td>
        </tr>

        <!-- 内存缓存 -->
        <tr v-show="cacheType == 'memory' && advancedVisible">
            <td>缓存容量</td>
            <td>
                <div class="ui fields inline">
                    <div class="ui field">
                        <input type="text" name="capacity" v-model="capacity" style="width:8em"/>
                    </div>
                    <div class="ui field">
                        <select class="ui dropdown" name="capacityUnit" v-model="capacityUnit">
                            <option value="g">G (千兆)</option>
                            <option value="m">M (兆)</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>

        <!-- 其他高级设置 -->
        <tr v-show="advancedVisible">
            <td>缓存有效期</td>
            <td>
                <div class="ui fields inline">
                    <div class="ui field">
                        <input type="text" name="life" v-model="life" style="width:8em"/>
                    </div>
                    <div class="ui field">
                        <select class="ui dropdown" name="lifeUnit" v-model="lifeUnit">
                            <option value="s">秒</option>
                            <option value="m">分钟</option>
                            <option value="h">小时</option>
                        </select>
                    </div>
                </div>
                <p class="comment">默认72小时（也就是3天）。</p>
            </td>
        </tr>
        <tr v-show="advancedVisible">
            <td>支持的状态码</td>
            <td>
                <label class="ui label tiny" v-for="(status, index) in statusList" :key="index">{{status}}
                    <input type="hidden" name="statusList" :value="status"/>
                    <a href="" @click.prevent="deleteStatus(index)"><i class="ui icon remove"></i></a>
                </label>
                <div style="margin-top:1em" v-if="!statusAdding">
                    <button class="ui button tiny" type="button" @click.prevent="addStatus()">+</button>
                </div>
                <div style="margin-top:1em" v-if="statusAdding">
                    <div class="ui fields inline">
                        <div class="ui field">
                            <input type="number" name="addingStatus" @keyup.enter="addStatusConfirm" v-model="addingStatus" style="width:5em" maxlength="3" @keypress.enter.prevent="1"/>
                        </div>
                        <div class="ui field">
                            <button class="ui button tiny" type="button" @click.prevent="addStatusConfirm()">添加</button> &nbsp; <a href="" @click.prevent="cancelAdding()">取消</a>
                        </div>
                    </div>
                </div>
                <p class="comment">支持的HTTP状态码，必须是3位数字</p>
            </td>
        </tr>
		<tr v-show="advancedVisible">
			<td>跳过的Cache-Control值</td>
			<td>
				<div>
					<span class="ui label tiny" v-for="cacheControl in skippedCacheControlValues">{{cacheControl}} <a href="" title="删除" @click.prevent="removeCacheControl(cacheControl)"><i class="icon remove"></i></a>
						<input type="hidden" name="skippedCacheControlValues" :value="cacheControl" />
					</span>
				</div>
				<div style="margin-top:1em" v-if="cacheControlIsAdding">
					<div class="ui fields inline">
						<div class="ui field">
							<input type="text" name="addingCacheControl"  @keyup.enter="addCacheControlConfirm" v-model="addingCacheControl" style="width:10em" @keypress.enter.prevent="1" />
						</div>
						<div class="ui field">
							<button class="ui button tiny" type="button" @click.prevent="addCacheControlConfirm()">添加</button> &nbsp; <a href="" @click.prevent="cancelCacheControlAdding()">取消</a>
						</div>
					</div>
				</div>
				<div style="margin-top:1em">
					<button class="ui button tiny" type="button" @click.prevent="addCacheControl()">+</button>
				</div>
				<p class="comment">当响应的Cache-Control为这些值时不缓存响应内容，而且不区分大小写。</p>
			</td>
		</tr>
		<tr v-show="advancedVisible">
			<td>跳过Set-Cookie</td>
			<td>
				<div class="ui checkbox">
					<input type="checkbox" name="skipSetCookie" value="1" v-model="policy.skipSetCookie"/>
					<label></label>
				</div>
				<p class="comment">选中后，当响应的Header中有Set-Cookie时不缓存响应内容。</p>
			</td>
		</tr>
		<tr v-show="advancedVisible">
			<td>支持请求no-cache刷新</td>
			<td>
				<div class="ui checkbox">
					<input type="checkbox" name="enableRequestCachePragma" v-model="policy.enableRequestCachePragma" value="1"/>
					<label></label>
				</div>
				<p class="comment">选中后，当请求的Header中含有<span class="ui label tiny">Pragma: no-cache</span>或<span class="ui label tiny">Cache-Control: no-cache</span>时，会跳过缓存直接读取源内容</p>
			</td>
		</tr>
        <tr v-show="advancedVisible">
            <td>最大内容长度</td>
            <td>
                <div class="ui fields inline">
                    <div class="ui field">
                        <input type="text" maxlength="10" v-model="maxSize" name="maxSize" style="width:8em"/>
                    </div>
                    <div class="ui field">
                        <select class="ui dropdown" name="maxSizeUnit" v-model="maxSizeUnit">
                            <option value="m">M (兆)</option>
                            <option value="k">K（千字节）</option>
                            <option value="b">B（字节）</option>
                        </select>
                    </div>
                </div>
                <p class="ui comment">允许缓存的最大内容长度</p>
            </td>
        </tr>
		<tr v-show="advancedVisible">
			<td>匹配条件</td>
			<td>
				<request-cond-box prefix="request" :operators="condOperators" :variables="condVariables" :conds="policy.cond"></request-cond-box>
				<p class="comment">满足以上条件时此策略才会生效。参数中可以使用一些内置的变量：<a href="http://teaos.cn/doc/proxy/Variables.md#%E8%AF%B7%E6%B1%82%E7%9B%B8%E5%85%B3%E5%8F%98%E9%87%8F" target="_blank">点击这里查看</a>，比如${arg.name}表示名为name的参数值</p>
			</td>
		</tr>
    </table>

    <button class="ui button primary" type="submit">保存</button> &nbsp;
	<a :href="'/cache/policy?filename=' + policy.filename">返回</a>

</form>