{$layout}

<div class="ui menu text basic blue">
	<a :href="'/agents/settings?agentId=' + agent.id" class="item active">详情</a>
	<a :href="'/agents/settings/install?agentId=' + agent.id" class="item">部署</a>
</div>

<div class="ui divider"></div>

<h3>设置<a :href="'/agents/settings/update?agentId=' + agent.id">修改</a></h3>

<div>
    <table class="ui table definition selectable">
        <tr>
            <td>是否启用</td>
            <td>
                <span class="ui label green small" v-if="agent.on">启用中</span>
                <span class="ui label small" v-if="!agent.on">未启用</span>
            </td>
        </tr>
        <tr>
            <td class="title">主机名</td>
            <td>
                {{agent.name}}
            </td>
        </tr>
        <tr>
            <td>主机地址</td>
            <td>
                {{agent.host}}
            </td>
        </tr>
        <tr>
            <td>主机ID</td>
            <td>{{agent.id}}</td>
        </tr>
		<tr>
			<td>分组</td>
			<td>
				<span v-if="groupNames.length == 0" class="disabled">默认分组</span>
				<span v-for="groupName in groupNames">{{groupName}}</span>
			</td>
		</tr>
        <tr>
            <td>密钥</td>
            <td>{{agent.key}}</td>
        </tr>
        <tr>
            <td>允许访问的IP</td>
            <td>
                <span v-if="agent.allowAll">允许所有的IP</span>
                <p v-if="!agent.allowAll">
                    <span v-for="ip in agent.allow" class="ui label small">{{ip}}</span>
                </p>
            </td>
        </tr>
    </table>
</div>