{$layout}

<h3>设置<a :href="'/agents/settings/update?agentId=' + agent.id">修改</a></h3>

<div>
    <table class="ui table definition">
        <tr>
            <td>是否启用</td>
            <td>
                <span class="ui label green small" v-if="agent.on">启用中</span>
                <span class="ui label small" v-if="!agent.on">未启用</span>
            </td>
        </tr>
        <tr>
            <td class="title">主机名</td>
            <td>
                {{agent.name}}
            </td>
        </tr>
        <tr>
            <td>主机地址</td>
            <td>
                {{agent.host}}
            </td>
        </tr>
        <tr>
            <td>主机ID</td>
            <td>{{agent.id}}</td>
        </tr>
		<tr>
			<td>分组</td>
			<td>
				<span v-if="groupNames.length == 0" class="disabled">默认分组</span>
				<span v-for="groupName in groupNames">{{groupName}}</span>
			</td>
		</tr>
        <tr>
            <td>密钥</td>
            <td>{{agent.key}}</td>
        </tr>
        <tr>
            <td>允许访问的IP</td>
            <td>
                <span v-if="agent.allowAll">允许所有的IP</span>
                <p v-if="!agent.allowAll">
                    <span v-for="ip in agent.allow" class="ui label small">{{ip}}</span>
                </p>
            </td>
        </tr>
    </table>

    <h3 style="margin-top:2em!important;">部署Agent</h3>
    <div>
        请在要管理App的主机上<a href="http://plus.teaos.cn/doc/agents/Install.md" target="_blank">下载并安装agent</a>，并修改<span class="ui label">configs/agent.conf</span>内容如下：
        <pre>
master: <em>http://TeaWeb访问地址</em>
id: {{agent.id}}
key: {{agent.key}}
</pre>
    </div>
    <div>
		其中TeaWeb访问地址通常为当前TeaWeb所在服务器可访问的IP加上端口7777，比如当前服务器的IP是<span class="ui label">192.168.1.100</span>，那么可以填上<span class="ui label">master: http://192.168.1.100:7777</span>
	</div>
</div>