{$layout}
{$template "menu"}

<h3>部署Agent</h3>
<div v-if="!isLocal">
	请在要管理App的主机上<a href="http://teaos.cn/doc/agents/Install.md" target="_blank">下载并安装agent</a>，并修改<span class="ui label tiny">configs/agent.conf</span>内容如下：
	<pre>
master: <em>http://TeaWeb访问地址</em>
id: {{agent.id}}
key: {{agent.key}}
</pre>
</div>
<div v-if="!isLocal">
	其中TeaWeb访问地址通常为当前TeaWeb所在服务器可访问的IP加上端口7777，比如当前服务器的IP是<span class="ui label tiny">192.168.1.100</span>，那么可以填上<span class="ui label tiny">master: http://192.168.1.100:7777</span>
</div>

<div>
	本地Agent是通过插件实现的，可以在plugins目录下找到这个插件。
</div>