.log-container {
    position: relative;
}

.log-box {
    position: fixed;
    top: 6.1em;
    bottom: 4em;
    -ms-word-break: break-all;
    word-break: break-all;
    line-height: 1.8;
    overflow-y: auto;
    left: 10em;
    right: 4em;
    border: 1px #eee solid;
    padding: 0.6em;
}

.log-box::-webkit-scrollbar {
    width: 4px;
}

.log-box em {
    font-style: normal;
    color: grey;
}

@media screen and (max-width: 512px) {
    .log-box {
        left: 4em;
    }
}
