.tab-menu {
    margin-bottom: 0!important;
}

.text.menu {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.text.menu span {
    font-size: 0.9em;
}

.divider {
    margin-top: 0!important;
}

.divider:not(.margin) {
    margin-bottom: 0!important;
}

table th, table th a {
    font-weight: normal!important;
}

table th {
    position: relative;
}

table th .ops {
    position: absolute;
    right: 1em;
}

table var {
    font-style: normal;
}