.table th .ops {
    position: absolute;
    right: 2em;
}

.table th a {
    font-weight: normal!important;
    color: #ddd;
}

.table th a:hover {
    color: grey;
}

#qps-chart-box {
    height: 16em;
}