{$layout}

<!-- 检测配置是否有更新 begins -->
<div class="ui icon message warning" v-if="statusChanged">
    <i class="exclamation circle icon large"></i>
    代理服务已被修改，<a href="" v-on:click.prevent="restart()">点此重启后生效</a>
</div>

{$var "header"}
<script type="text/javascript" src="/_/@default/proxy/@global.js"></script>
{$end}
<!--  检测配置是否有更新 end -->

<div>
    {$template "/proxy/menu"}

    <h3 class="normal-h3">正常服务器 <a :href="'/proxy/backend/add?server=' + proxy.filename">[添加服务器]</a></h3>
    <p class="grey" v-if="normalBackends.length == 0">暂时还没有正常服务器。</p>
   <table class="ui table" v-if="normalBackends.length > 0">
        <thead>
            <tr>
                <th>地址</th>
                <th>权重</th>
                <th>ID</th>
                <th style="width:7em">操作</th>
            </tr>
        </thead>
       <tr v-for="backend in normalBackends">
           <td>{{backend.address}}<br/>
               <span class="ui label tiny green" v-if="backend.on">启用</span>
               <span class="ui label tiny grey" v-if="!backend.on">停用</span>

               <span class="ui label tiny green" v-if="!backend.isDown">上线中</span>
               <span class="ui label tiny red" v-if="backend.isDown">下线中</span></td>
           <td>
           {{backend.weight}}
           </td>
           <td>{{backend.id}}<br/><span v-if="backend.code.length > 0" class="ui label tiny">代号：{{backend.code}}</span>
           </td>
           <td>
               <a :href="'/proxy/backend/update?server=' + proxy.filename + '&backend=' + backend.id">修改</a> &nbsp; <a href="" @click.prevent="deleteBackend(backend.id)">删除</a>
           </td>
       </tr>
   </table>

    <div class="margin"></div>

    <h3>备用服务器 <a :href="'/proxy/backend/add?server=' + proxy.filename + '&backup=1'">[添加服务器]</a></h3>
    <p class="grey" v-if="backupBackends.length == 0">暂时还没有备用服务器。</p>
    <table class="ui table" v-if="backupBackends.length > 0">
        <thead>
        <tr>
            <th>地址</th>
            <th>权重</th>
            <th>ID</th>
            <th style="width:7em">操作</th>
        </tr>
        </thead>
        <tr v-for="backend in backupBackends">
            <td>{{backend.address}}<br/>
                <span class="ui label tiny green" v-if="backend.on">启用</span>
                <span class="ui label tiny grey" v-if="!backend.on">停用</span>

                <span class="ui label tiny green" v-if="!backend.isDown">上线中</span>
                <span class="ui label tiny grey" v-if="backend.isDown">下线中</span></td>
            <td>
                {{backend.weight}}
            </td>
            <td>{{backend.id}}<br/><span v-if="backend.code.length > 0" class="ui label tiny">代号：{{backend.code}}</span>

            </td>
            <td>
                <a :href="'/proxy/backend/update?server=' + proxy.filename + '&backend=' + backend.id">修改</a> &nbsp; <a href=""  @click.prevent="deleteBackend(backend.id)">删除</a>
            </td>
        </tr>
    </table>

    <div class="margin"></div>

    <div class="ui divider"></div>

    <h3>请求分发调度算法</h3>
    <div class="ui segment">当前正在使用 <strong>{{scheduling.name}}</strong> &nbsp; <a :href="'/proxy/backend/scheduling?server=' + proxy.filename">[修改]</a>
        <p class="grey">{{scheduling.description}}。</p> </div>
</div>