{$layout}

<div class="ui text menu blue">
	<a href="/agents/groups" class="item active">分组</a>
</div>

<div class="ui divider"></div>

<h3>添加分组</h3>

<form class="ui form" data-tea-action="$" data-tea-success="submitSuccess">
	<table class="ui table selectable definition">
		<tr>
			<td class="title">分组名称</td>
			<td>
				<input type="text" name="name" maxlength="100"/>
			</td>
		</tr>
	</table>

	<button class="ui button primary" type="submit">保存</button> &nbsp; <a href="/agents/groups" v-if="from.length == 0">返回</a><a :href="from" v-if="from.length > 0">返回</a>
</form>