{$layout}

<div class="ui menu text blue">
	<a href="/agents/groups" class="item" style="padding-right:0">分组</a>
	<a :href="'/agents/groups/detail?groupId=' + group.id" class="item active">“{{group.name}}” &raquo; 详情</a>
	<a :href="'/agents/groups/noticeReceivers?groupId=' + group.id" class="item">通知设置</a>
</div>

<div class="ui divider"></div>

<h3>详情 <a :href="'/agents/groups/update?groupId=' + group.id" v-if="group.id.length > 0">修改</a> </h3>

<table class="ui table selectable definition">
	<tr>
		<td class="title">分组名称</td>
		<td>{{group.name}}</td>
	</tr>
</table>

<h3 style="margin-top:2em!important">主机</h3>
<form class="ui form segment" style="padding-bottom:0" v-if="hasAgents">
	<div class="ui fields inline">
		<div class="ui field">
			<input type="text" placeholder="输入主机名、主机地址检索" size="23" @input="changeKeyword()" v-model="keyword"/>
		</div>
		<div class="ui field">
			<select class="ui dropdown" v-model="filterOnline" @change="changeOnlineFilter()" style="width:5em">
				<option value="-1">所有</option>
				<option value="1">在线</option>
				<option value="0">离线</option>
			</select>
		</div>
		<div class="ui field" v-if="keyword.length > 0 || filterOnline != '-1'">
			<a href="" @click.prevent="resetKeyword()">清除条件</a>
		</div>
	</div>
</form>

<p class="comment" v-if="agents.length == 0 && keyword.length == 0 && filterOnline == '-1'">暂时还没有主机。</p>
<p class="comment" v-if="agents.length == 0 && keyword.length > 0 || filterOnline != '-1'">暂时还没有匹配的主机。</p>
<table class="ui table selectable" v-if="agents.length > 0">
	<thead>
		<tr>
			<th>主机名</th>
			<th>主机地址</th>
			<th class="two op">操作</th>
		</tr>
	</thead>
	<tr v-for="agent in agents">
		<td>{{agent.name}}
			<br/>
			<span v-if="!agent.on" class="ui label tiny">未启用</span>
			<span v-if="agent.isWaiting" class="ui label tiny green">已连接</span>
		</td>
		<td>{{agent.host}}</td>
		<td>
			<a :href="'/agents/board?agentId=' + agent.id">详情</a>
		</td>
	</tr>
</table>
