.tab-menu {
    margin-bottom: 0 !important;
}

.main .menu.text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.divider {
    margin-bottom: 0 !important;
}

.pre-box {
    padding: 1em;
    margin: 0;
    line-height: 1.7;
    -ms-word-break: break-all;
    word-break: break-all;
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    max-height: 20em;
}

.pre-box::-webkit-scrollbar {
    width: 6px;
}


.table .label.ca, .table .label.acme {
    padding: 2px;
    font-size: 8px;
}