.tab-menu {
    margin-bottom: 0 !important;
}

.main .menu.text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.divider {
    margin-bottom: 0 !important;
}

.domains-box .label {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/** DNS设置提醒 **/
.dns-notice {
    line-height: 1.7;
}
