.tab-menu {
    margin-bottom: 0 !important;
}

.main .menu.text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.info-box {
    padding: 6px 10px;
    background: rgba(0, 0, 0, 0.08);
    line-height: 1.8;
    font-size: 0.9em;
}