{$layout}

<!-- 检测配置是否有更新 begins -->
<div class="ui icon message warning" v-if="statusChanged">
    <i class="exclamation circle icon large"></i>
    代理服务已被修改，<a href="" v-on:click.prevent="restart()">点此重启后生效</a>
</div>

{$var "header"}
<script type="text/javascript" src="/_/@default/proxy/@global.js"></script>
{$end}
<!--  检测配置是否有更新 end -->

<!-- 拖动排序 -->
{$var "header"}
<script type="text/javascript" src="/js/sortable.min.js"></script>
{$end}

<div>
    {$template "/proxy/menu"}

    <!-- HTTPS 设置 -->
    <form class="ui form" data-tea-action="/proxy/ssl/update" data-tea-success="submitSuccess">
        <input type="hidden" name="serverId" :value="server.id"/>
        <table class="ui table definition selectable">
            <tr>
                <td class="title">是否开启HTTPS</td>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="httpsOn" v-model="httpsOn"/>
                        <label></label>
                    </div>
                </td>
            </tr>
			<tr>
				<td>绑定网络地址<em>(listen)</em></td>
				<td colspan="2">
                    <span class="ui label small" v-for="(listen, arrayIndex) in server.ssl.listen" :class="{blue:arrayIndex == editingListenIndex}">{{listen}}
                        <input type="hidden" name="listen" :value="listen"/> &nbsp;
						<a href="" @click.prevent="editListen(arrayIndex)" title="修改"><i class="icon pencil"></i></a>
                        <a href="" @click.prevent="removeListen(arrayIndex)" title="删除"><i class="icon remove"></i></a>
                    </span>
					<div class="ui fields inline" v-if="listenAdding" style="margin-top:0.8em">
						<div class="ui field">
							<input type="text" name="addingListenName" style="width:18em" maxlength="30" placeholder="绑定的网络地址，比如 0.0.0.0:443" @keyup.enter="confirmAddListen()" @keypress.enter.prevent="1" v-model="addingListenName" />
						</div>
						<div class="ui field">
							<button class="ui button" type="button" @click="confirmAddListen()">确定</button>
							&nbsp; <a href="" @click.prevent="cancelListenAdding()">取消</a>
						</div>
					</div>
					<div class="ui field" style="margin-top: 1em">
						<button class="ui button tiny" type="button" @click="addListen()">+</button>
					</div>
					<p class="comment" style="padding-top:0;margin-top:0">要想通过服务器的所有IP地址都能访问到服务，可以将IP地址写成"0.0.0.0:端口"。</p>
				</td>
			</tr>

			<tbody v-for="(cert, index) in certs">
				<tr>
					<td colspan="2" style="font-weight: normal;">证书#{{index+1}}：
						<a href="" title="移除此证书" class="op-link" @click.prevent="removeCert(index)"><i class="icon remove small"></i></a>
						<input type="hidden" name="certIds" :value="cert.id"/>
					</td>
				</tr>
				<tr>
					<td>证书#{{index+1}}说明</td>
					<td>
						<input type="text" name="certDescriptions" maxlength="200" v-model="cert.description" :id="'cert-descriptions-input-' + index"/>
					</td>
				</tr>
				<tr>
					<td>证书#{{index+1}}文件位置</td>
					<td>
						<div class="ui menu tabular">
							<a href="" class="item" :class="{active:!cert.isLocal}" @click.prevent="cert.isLocal = false">从本地上传</a>
							<a href="" class="item" :class="{active:cert.isLocal}" @click.prevent="cert.isLocal = true">指定证书文件路径</a>
						</div>
						<input type="hidden" name="certIsLocal" :value="cert.isLocal ? 1 : 0" />
					</td>
				</tr>
				<tr v-show="!cert.isLocal">
					<td>证书#{{index+1}}文件<em>(Certificate)</em></td>
					<td>
						<span v-if="cert.certFile.length > 0">{{cert.certFile}}</span>

						<input type="file" :name="'certFiles' + index" accept="application/x-pem-file, application/pkcs10, application/x-pkcs12, application/x-x509-user-cert, application/x-x509-ca-cert, application/pkix-cert" style="margin-top:0.8em"/>
						<p class="comment">内容中通常含有"-----BEGIN CERTIFICATE-----"类似的信息。</p>
					</td>
				</tr>
				<tr v-show="!cert.isLocal">
					<td>证书#{{index+1}}密钥文件<em>(Private Key)</em></td>
					<td>
						<span v-if="cert.keyFile.length > 0">{{cert.keyFile}}</span>
						<input type="file" :name="'keyFiles' + index" accept="application/pkcs8" style="margin-top:0.8em"/>
						<p class="comment">内容中通常含有"-----BEGIN RSA PRIVATE KEY-----"类似的信息。</p>
					</td>
				</tr>
				<tr v-show="cert.isLocal">
					<td>证书#{{index+1}}文件<em>(Certificate)</em></td>
					<td>
						<input type="text" name="certFilesPaths" v-model="cert.certFile"/>
						<p class="comment">指定TeaWeb所在服务器上的证书文件路径，内容中通常含有"-----BEGIN CERTIFICATE-----"类似的信息。</p>
					</td>
				</tr>
				<tr v-show="cert.isLocal">
					<td>证书#{{index+1}}密钥文件<em>(Private Key)</em></td>
					<td>
						<input type="text" name="keyFilesPaths" v-model="cert.keyFile"/>
						<p class="comment">指定TeaWeb所在服务器上的证书密钥文件路径，内容中通常含有"-----BEGIN RSA PRIVATE KEY-----"类似的信息。</p>
					</td>
				</tr>
			</tbody>
			<tr>
				<td>添加新证书</td>
				<td>
					<button class="ui button tiny" type="button" @click.prevent="addCert()">+</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a href="" v-if="!advancedOptionsVisible" @click.prevent="showAdvancedOptions()" style="font-weight:normal">更多选项 <i class="icon down angle"></i> </a>
					<a href="" v-if="advancedOptionsVisible" @click.prevent="showAdvancedOptions()" style="font-weight:normal">收起选项 <i class="icon up angle"></i> </a>
				</td>
			</tr>
			<tbody v-show="advancedOptionsVisible">
				<tr>
					<td>TLS最低版本</td>
					<td>
						<select name="minVersion" v-model="minVersion" class="ui dropdown" style="width:6em">
							<option v-for="version in versions" :value="version">{{version}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>加密算法套件<em>(CipherSuites)</em></td>
					<td>
						<div class="ui checkbox">
							<input type="checkbox" name="cipherSuitesOn" value="1" v-model="cipherSuitesOn" />
							<label>是否要自定义</label>
						</div>

						<div  v-show="cipherSuitesOn">
							<div class="cipher-suites-box">
								已添加套件({{selectedCipherSuites.length}})：
								<div v-for="cipherSuite in selectedCipherSuites" class="ui label tiny">
									<input type="hidden" name="cipherSuites" :value="cipherSuite"/>
									<span v-html="formatCipherSuite(cipherSuite)"></span> &nbsp; <a href="" title="删除套件" @click.prevent="removeCipherSuite(cipherSuite)"><i class="icon remove"></i></a>
									<a href="" title="拖动改变顺序"><i class="icon bars handle"></i></a>
								</div>
							</div>

							<div style="font-size:0.9em">
								<div class="ui divider"></div>
								<span v-if="selectedCipherSuites.length > 0"><a href="" @click.prevent="clearCipherSuites()">[清除所有已选套件]</a> &nbsp; </span>
								<a href="" @click.prevent="addBatchCipherSuites(modernCipherSuites)">[添加推荐套件]</a> &nbsp;
								<a href="" @click.prevent="addBatchCipherSuites(intermediateCipherSuites)">[添加兼容套件]</a>
								<div class="ui divider"></div>
							</div>

							<div class="cipher-all-suites-box">
								<span v-if="selectedCipherSuites.length == 0">所有</span>可选套件({{cipherSuites.length}})：
								<a href="" v-for="cipherSuite in cipherSuites" class="ui label tiny" title="点击添加到自定义套件中" @click.prevent="addCipherSuite(cipherSuite)" v-html="formatCipherSuite(cipherSuite)"></a>
							</div>
							<p class="comment">点击可选套件添加。</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>开启HSTS</td>
					<td>
						<div class="ui checkbox">
							<input type="checkbox" name="hsts" v-model="hsts" value="1"/>
							<label></label>
						</div>
						<p class="comment">开启后，会自动在响应Header中加入<span class="ui label small">Strict-Transport-Security: ...</span></p>
					</td>
				</tr>
			</tbody>
        </table>

        <button class="ui button primary" type="submit">保存</button>
    </form>
</div>