{$layout}

<!-- 检测配置更新 -->
<proxy-change-notify-box></proxy-change-notify-box>

<!-- 排序 -->
{$var "header"}
<script type="text/javascript" src="/js/sortable.min.js"></script>
{$end}

<!-- 错误信息 -->
<p class="ui message error" v-for="err in errs">
	发生错误：{{err}}
</p>

<div class="ui menu text basic small blue">
	<a :href="'/proxy/board?serverId=' + server.id + '&boardType=' + boardType" class="item active" v-if="boardType != 'stat'">看板</a>
	<a :href="'/proxy/stat?serverId=' + server.id" class="item active" v-if="boardType == 'stat'">统计看板</a>
	<a :href="'/proxy/board/charts?serverId=' + server.id+ '&boardType=' + boardType" class="item">可用图表</a>
	<a :href="'/proxy/board/make?serverId=' + server.id+ '&boardType=' + boardType" class="item">制作图表</a>
	<a :href="'/proxy/board/items?serverId=' + server.id + '&boardType=' + boardType" class="item">数据指标</a>
	<a href="" class="item right" @click.prevent="refreshData()">刷新数据 <i class="icon refresh small"></i></a>
</div>
<div class="ui divider"></div>

<div class="ui message info" v-if="widgetIsLoaded && charts.length == 0">暂时还没有可以查看的图表。</div>

<!-- chart -->
{$template "/chart_render"}