.tab-menu {
    margin-bottom: 0!important;
}

.menu.text {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.divider {
    margin-top: 0!important;
}

.table th .ops {
    position: absolute;
    right: 2em;
    font-style: normal;
}

.table th a {
    font-weight: normal!important;
    color: #ddd;
}

.table th a:hover {
    color: grey;
}

@media screen and (max-width: 512px) {
    .column:not(.one) {
        width: 100%!important;
    }
}

/** 排序 **/
.sortable-ghost {
    background: #ddd!important;
}

.sortable-drag {
    opacity: 0.1;
}