<div class="ui text menu blue">
    <a :href="$url('/proxy/detail', { 'server':filename })" class="item" :class="{active:selectedTab == 'basic'}">基本信息</a>
    <a :href="$url('/proxy/ssl', { 'server':filename })" class="item green" :class="{active:selectedTab == 'https'}">HTTPS<i class="ui icon expeditedssl" :class="{green:proxy.ssl && proxy.ssl.on, grey:!proxy.ssl || !proxy.ssl.on}"></i></a>
    <a :href="$url('/proxy/backend', { 'server':filename })" class="item" :class="{active:selectedTab == 'backend'}">后端服务器({{proxy.backends.length}})</a>
    <a :href="$url('/proxy/locations', { 'server':filename })" class="item" :class="{active:selectedTab == 'location'}">路径规则({{proxy.locations.length}})</a>

    <a  v-if="selectedTab == 'location' && location != null" :href="$url('/proxy/locations/detail', { 'server':filename, 'index':locationIndex })" class="item active">&raquo;
        路径：{{location.pattern}}</a>

    <a :href="$url('/proxy/headers', { 'server':filename })" class="item" :class="{active:selectedTab == 'header'}">自定义Header({{proxy.headers.length}})</a>
    <a :href="$url('/proxy/cache', { 'server':filename })" class="item" :class="{active:selectedTab == 'cache'}">缓存<span v-if="proxy.cachePolicy.length > 0">(已设置)</span></a>
    <a :href="$url('/proxy/frontend', { 'server':filename })" class="item" :class="{active:selectedTab == 'frontend'}">前端代理</a>
</div>
<div class="ui divider" style="margin-top:0"></div>