h3 {
    padding-top: 0.2em!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

h3 .icon {
    font-size: 0.8em!important;
}

.normal {
    font-weight: normal!important;
}

.menu.text {
    margin-top: 0!important;
}

table th em {
    font-style: normal;
    font-weight: normal;
}


/** codemirror **/
.CodeMirror {
    border: 1px solid #eee;
    height: auto!important;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}