.servers-box {
    margin-top: 1em;
}

.servers-box .table-box {
    margin-right: 1em;
    margin-bottom: 1em;
}

.servers-box .table-box table td strong {
    font-size: 0.9em;
}

.servers-box .table-box table thead th {
    position: relative;
}

.servers-box .table-box table thead span {
    position: absolute;
    top: 1em;
    right: 1em;
}

.servers-box .table-box table thead em {
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    color: grey;
}

.servers-box .table-box table thead a {
    color: rgba(0,0,0,.87);
}

.servers-box .table-box table thead span a {
    color: grey;
}

.servers-box .table-box div.grey {
    color: grey;
}

.servers-box .table-box div.fix-height {
    max-height: 9em;
    overflow-y: auto;
}

.servers-box .table-box div p {
    padding: 0;
    margin: 0;
    line-height: 1.8;
}

.servers-box .table-box div.fix-height::-webkit-scrollbar {
    width: 2px;

}
