{$layout}
{$template "menu"}

<!-- 排序 -->
{$var "header"}
<script type="text/javascript" src="/js/sortable.min.js"></script>
{$end}

<div v-if="error.length > 0" class="ui error message">
	{{error}}
</div>

<div v-if="error.length == 0">
	<p class="comment" v-if="agentId == 'local' && isLoaded && charts.length == 0">暂时还没有图表，<a href="" @click.prevent="initDefaultApps()">是否重新初始化内置的系统App？</a></p>
	<p class="comment" v-if="agentId != 'local' && isLoaded && charts.length == 0">暂时还没有图表，可能没有连接 或者 <a :href="'/agents/settings/install?agentId=' + agentId">没有部署</a> 或者 需要<a href="" @click.prevent="initDefaultApps()">重新初始化内置的系统App</a>。</p>
</div>

<div class="ui field" style="margin-bottom:2em" v-show="isLoaded && charts.length > 0">
    {$template "/chart_render"}
</div>